.container {
    width: calc(95ch + 40px);
    margin: auto;
    background: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding: 40px 20px 50vh;
    line-height: 1.8em;
    font-size: 1em;
}

.ql-editor {
    height: -webkit-fill-available;
    font-size: 16px;
    border: 0px;
    caret-color: #00ffb7;
}

.ql-editor:focus {
    outline: none;
}

body {
    background: black;
}

p {
    margin: 0em;
    font-size: 16px;
}

h1 {
    margin: 1em 0px;
    font-size: 28px;
    font-weight: bold;
}

h2 {
    margin: 1em 0px;
    font-size: 22px;
    font-weight: bold;
}

a {
    color: #00ffb7;
    text-decoration: none;
}

ul {
    list-style-type: '- ';
}